<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Eliminar</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p>Esta seguro que desea eliminar este auto <span class="text-dark">{{auto.descripcion}}</span></p>
    <span class="text-danger">Esto no se puede deshacer.</span>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('cancel click')"> Cancel</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close(auto)">Okay</button>

</div>
