<table class="table">
    
    <thead class="thead-light table-striped">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Marca</th>
        <th scope="col">Submarca</th>
        <th scope="col"> Descripción</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    
    <tbody class="body">
      
      <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td scope="row">{{auto._id}}</td>
        <td>{{auto.marca}}</td>
        <td>{{auto.submarca}}</td>
        <td>{{auto.descripcion}}</td>
        <td><i class="fas fa-trash-alt"></i></td>
        <td><i class="fas fa-pen"></i></td>
      </tr>    
    </tbody>


  </table>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="40" [(page)]="page" aria-label="Default pagination" [pageSize]="pageSize"></ngb-pagination>
