<table class="table">
    
    <thead class="thead-light table-striped">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Marca</th>
        <th scope="col">Submarca</th>
        <th scope="col">Modelo</th>
        <th scope="col"> Descripción</th>
      </tr>
    </thead>
    
    <tbody class="body">
      
      <tr *ngFor="let auto of autos; index as i">
        <td scope="row">{{auto._id}}</td>
        <td>{{auto.marca}}</td>
        <td>{{auto.submarca}}</td>
        <td>{{auto.modelo}}</td>
        <td>{{auto.descripcion}}</td>

      </tr>    
    </tbody>


  </table>
