#menu{

    background-color: black;
    padding: 7px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    
}

#menu li{
    display: inline;
    justify-content: space-evenly;
}

#menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 50px;
    color: white;
    
}

#menu li a:hover {
    background-color: #5f67698c;
    margin-top: -2;
    padding-bottom: 5px;
    padding-top: 5px;
    }

