.autoX{
    background-color: rgb(222, 231, 227);
    margin: 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#icon{
    cursor: pointer;
}
.texto{
    color: black;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 20px;
}

.tituloModal{
    margin-top: 5px;
    margin-left: 30px;
}
.close{
    margin-right: 10px;
    
}
