<ng-container *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
     <div class="autoX">
          <div class="item item-icon fas fa-eye fa-3x"  id="icon" (click)="selectAuto(content,auto)"></div>
          <div class="texto"> {{auto.descripcion}} {{auto.modelo}} </div>   
     </div>
</ng-container>
<ngb-pagination class="d-flex justify-content-center" [collectionSize]="40" [(page)]="page" aria-label="Default pagination" [pageSize]="pageSize"></ngb-pagination>

<ng-template #content let-modal>

     <div class="modalHeader">
          <h4 class= "tituloModal" id="modal-basic-title">Descripción del vehículo</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
          </button>
     </div>

     <div class="modal-body">
          <div>Marca: {{autoS?.marca}}</div>
          <div>Submarca: {{autoS?.submarca}}</div>
          <div>Modelo: {{autoS?.modelos}}</div>
          <div>Descripción: {{autoS?.descripcion}}</div>
     </div>

</ng-template>




